asttokens==1.1.6
astunparse==1.5.0
backports.weakref==1.0rc1
bleach==1.5.0
bunch==1.0.1
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
frozendict==1.2
future==0.16.0
h5py==2.7.0
html5lib==0.9999999
idna==2.5
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
Markdown==2.6.8
matplotlib==2.0.2
more-itertools==3.2.0
nbformat==4.3.0
numexpr==2.6.2
numpy==1.13.1
pandas==0.20.3
plotly==2.0.12
protobuf==3.3.0
py-redux==0.2.2
pypandoc==1.4
pyparsing==2.2.0
python-dateutil==2.6.0
python-telegram-bot==7.0.1
pytz==2017.2
requests==2.18.2
scikit-learn==0.18.2
scipy==0.19.1
seaborn==0.8
six==1.10.0
tables==3.4.2
tensorflow==1.2.1
tqdm==4.14.0
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.12.2
